[user]
	name = Vlad Zarytovskii
	email = vzaritovsky@hotmail.com
[credential]
	helper = store
[github]
	user = vzarytovskii
[alias]
	co = checkout
	cb = !git checkout -b
	ps = push
	psr = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pl = pull
	s = status
	st = status
	d = diff
	ci = commit
	c = clone
	cl = clone
	f = fetch
	fr = "!git fetch --all && git rebase origin/master"
	ca = "!git add -A && git commit -m "
	amend = "!git add -A && git commit --amend --no-edit"
	unstage = reset HEAD --
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
    graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[color]
	ui = true
[core]
	autocrlf = false
	safecrlf = false
	ignorecase = false
	excludesfile = ~/.gitignore
	editor = emacs
	whitespace = -trailing-space
[branch]
	autosetuprebase = always
[diff]
	renames = true
	algorithm = patience
	mnemonicPrefix = true
	wordRegex = .
	submodule = log
[log]
	abbrevCommit = true
	follow = true
	decorate = false
[fetch]
	recurseSubmodules = on-demand
[push]
	default = simple
[merge "theirs"]
	driver = true
[merge]
	conflictStyle = diff3
[init]
	templatedir = ~/.git-templates
