[user]
	name = Vlad Zarytovskii
	email = vzaritovsky@hotmail.com
[credential]
	helper = store
[github]
	user = vzarytovskii
[alias]
	co = checkout
	cb = !git checkout -b
	ps = push
	psr = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pl = pull
	s = status
	d = diff
	ci = commit
	c = clone
	f = fetch
	l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat -p
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lh = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	fr = "!git fetch --all && git rebase origin/master"
	amend = "!git add -A && git commit --amend --no-edit"
	unstage = reset HEAD --
	type = cat-file -t
	dump = cat-file -p
[color]
	ui = true
[core]
	autocrlf = false
	safecrlf = false
	ignorecase = false
	excludesfile = ~/.gitignore
	editor = emacs
	whitespace = -trailing-space
	hooksPath = /home/v/.git-templates/hooks
[branch]
	autosetuprebase = always
[diff]
	renames = true
	algorithm = patience
	mnemonicPrefix = true
	wordRegex = .
	submodule = log
[log]
	abbrevCommit = true
	follow = true
	decorate = false

[status]
	short = false
	long = true
	renames = true
	relativePaths = true
	showStash = true
	showUntrackedFiles = normal
[fetch]
	recurseSubmodules = on-demand
[push]
	default = simple
[merge "theirs"]
	driver = true
[merge]
	conflictStyle = diff3
[init]
	templatedir = ~/.git-templates
[forge]
	remote = upstream
