configuration {
	modi: "run";
	location: 1;
	separator-style: none;
	bw: 0;
	font: "JetBrains Mono 7";
	lines: 1;
	columns: 9;
	hide-scrollbar: true;
	width: 100;
	show-icons: false;
	sidebar-mode: false;
	matching: "fuzzy";
}
@theme "oneliner"
