configuration {
	modi: "run";
	location: 0;
	separator-style: none;
	bw: 0;
	font: "JetBrains Mono 17";
	lines: 1;
	columns: 9;
	hide-scrollbar: true;
	width: 100;
	show-icons: false;
	sidebar-mode: false;
	matching: "normal";
}
@theme "android_notification"
